html, body {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	color: #ecf0f1;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow:hidden;
        background: url('../images/space.jpg');
}

#map-canvas {
	height: 600px;
	width: 70%;
	margin: 5% auto;
}

h1 {
	font-size: 60px;
	margin-top: 50px;
	font-weight: bold;
	margin-bottom: 10px;
}
