html, body {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	color: #ecf0f1;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow:hidden;
        background: url('../images/space.jpg');
}

#map-canvas {
	height: 600px;
	width: 70%;
	margin: 5% auto;
	 box-shadow: 0 0 3px #515151;
    -webkit-animation: pulse 4s infinite; /* Safari 4+ */
    -moz-animation:    pulse 4s infinite; /* Fx 5+ */
    -o-animation:      pulse 4s infinite; /* Opera 12+ */
    animation:         pulse 4s infinite; /* IE 10+ */

}

@-webkit-keyframes pulse {
  0%   { box-shadow: 0 0 3px #515151; }
  50% { box-shadow: 0 0 100px #ccc; }
  100% { box-shadow: 0 0 3px #515151; }
}
@-moz-keyframes pulse {
  0%   { box-shadow: 0 0 3px #515151; }
  50% { box-shadow: 0 0 100px #ccc; }
  100% { box-shadow: 0 0 3px #515151; }
}
@-o-keyframes pulse {
  0%   { box-shadow: 0 0 3px #515151; }
  50% { box-shadow: 0 0 100px #ccc; }
  100% { box-shadow: 0 0 3px #515151; }
}
@keyframes pulse {
  0%   { box-shadow: 0 0 3px #515151; }
  50% { box-shadow: 0 0 100px #ccc; }
  100% { box-shadow: 0 0 3px #515151; }
}


h1 {
	font-size: 60px;
	margin-top: 50px;
	font-weight: bold;
	margin-bottom: 10px;
}
